01_Areas/Codebases/ailcc/automations/n8n/antigravity_cortex_v2.json
{
    "name": "Antigravity Cortex v2 - Full Integration",
    "nodes": [
        {
            "parameters": {
                "pollTimes": {
                    "item": [
                        {
                            "mode": "everyMinute"
                        }
                    ]
                },
                "watchImpl": "polling",
                "folderId": "116Amvq7y36Rxq4JNBR8U5-8n1OAK-LkM"
            },
            "name": "Watch Drive Inbox",
            "type": "n8n-nodes-base.googleDriveTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "id": "drive-trigger-1"
        },
        {
            "parameters": {
                "prompt": "Analyze this file content from Google Drive. Return a valid JSON object with these fields:\\n1. type: (Invoice, Contract, Idea, Code, Meeting Notes, Research)\\n2. project: (Antigravity, BioMastery, FreshCoats, Personal)\\n3. summary: (1-2 sentence overview)\\n4. linear_task: (The action item needed, or 'null' if none)\\n5. notion_database: (Projects, Tasks, Notes, or 'null')\\n6. priority: (high, medium, low)",
                "binaryPropertyName": "data"
            },
            "name": "Gemini Brain",
            "type": "n8n-nodes-base.googleGeminiChat",
            "typeVersion": 1,
            "position": [
                450,
                300
            ],
            "id": "gemini-1"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.linear_task }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "name": "Task Detected?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                650,
                300
            ],
            "id": "if-1"
        },
        {
            "parameters": {
                "teamId": "29c2d6e5-7464-49d6-9b66-303321b23f22",
                "title": "={{ $json.summary }}",
                "description": "Auto-generated by Antigravity Cortex.\\n\\nFile Context: {{ $json.type }}\\nProject: {{ $json.project }}\\nPriority: {{ $json.priority }}\\nSource: Google Drive",
                "priority": "={{ $json.priority === 'high' ? 1 : ($json.priority === 'medium' ? 2 : 3) }}"
            },
            "name": "Create Linear Issue",
            "type": "n8n-nodes-base.linear",
            "typeVersion": 1,
            "position": [
                850,
                200
            ],
            "id": "linear-1"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.notion_database }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "name": "Notion Entry Needed?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1050,
                200
            ],
            "id": "if-2"
        },
        {
            "parameters": {
                "resource": "page",
                "operation": "create",
                "databaseId": "={{ $json.notion_database === 'Tasks' ? 'NOTION_TASKS_DB_ID' : ($json.notion_database === 'Projects' ? 'NOTION_PROJECTS_DB_ID' : 'NOTION_NOTES_DB_ID') }}",
                "title": "={{ $json.summary }}",
                "properties": {
                    "property": [
                        {
                            "key": "Type",
                            "type": "select",
                            "selectValue": "={{ $json.type }}"
                        },
                        {
                            "key": "Project",
                            "type": "select",
                            "selectValue": "={{ $json.project }}"
                        },
                        {
                            "key": "Priority",
                            "type": "select",
                            "selectValue": "={{ $json.priority }}"
                        },
                        {
                            "key": "Source",
                            "type": "rich_text",
                            "richTextValue": "Google Drive - Auto-processed"
                        }
                    ]
                }
            },
            "name": "Create Notion Page",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 1,
            "position": [
                1250,
                150
            ],
            "id": "notion-1"
        },
        {
            "parameters": {
                "fileId": "={{ $('Watch Drive Inbox').item.json.id }}",
                "folderId": "13ko1RV0dyCFtcpi7mW4mEiWbdWHGgHtn",
                "operation": "move"
            },
            "name": "Move to Processed",
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                1250,
                400
            ],
            "id": "drive-move-1"
        }
    ],
    "connections": {
        "Watch Drive Inbox": {
            "main": [
                [
                    {
                        "node": "Gemini Brain",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Brain": {
            "main": [
                [
                    {
                        "node": "Task Detected?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Task Detected?": {
            "main": [
                [
                    {
                        "node": "Create Linear Issue",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Move to Processed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Linear Issue": {
            "main": [
                [
                    {
                        "node": "Notion Entry Needed?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Notion Entry Needed?": {
            "main": [
                [
                    {
                        "node": "Create Notion Page",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Move to Processed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Notion Page": {
            "main": [
                [
                    {
                        "node": "Move to Processed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionTimeout": 3600,
        "saveDataErrorExecution": "all",
        "saveDataSuccessExecution": "all",
        "timezone": "America/New_York"
    }
}