01_Areas/Codebases/ailcc/automations/n8n/antigravity_cortex_v1.json
{
    "nodes": [
        {
            "parameters": {
                "pollTimes": {
                    "item": [
                        {
                            "mode": "everyMinute"
                        }
                    ]
                },
                "watchImpl": "polling",
                "folderId": "YOUR_ANTIGRAVITY_INBOX_FOLDER_ID"
            },
            "name": "Watch Drive Inbox",
            "type": "n8n-nodes-base.googleDriveTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "prompt": "Analyze this file content. Return a valid JSON object with these fields:\n1. type: (Invoice, Contract, Idea, Code)\n2. project: (Antigravity, BioMastery, FreshCoats)\n3. summary: (1 sentence)\n4. linear_task: (The action item needed, or 'null' if none)",
                "binaryPropertyName": "data"
            },
            "name": "Gemini Brain",
            "type": "n8n-nodes-base.googleGeminiChat",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.linear_task }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "name": "Task Detected?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "teamId": "YOUR_LINEAR_TEAM_ID",
                "title": "={{ $json.summary }}",
                "description": "Auto-generated by Antigravity Cortex.\n\nFile Context: {{ $json.type }}\nSource: Google Drive"
            },
            "name": "Create Linear Issue",
            "type": "n8n-nodes-base.linear",
            "typeVersion": 1,
            "position": [
                850,
                200
            ]
        },
        {
            "parameters": {
                "fileId": "={{ $('Watch Drive Inbox').item.json.id }}",
                "folderId": "DESTINATION_FOLDER_ID"
            },
            "name": "Move to Vault",
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 1,
            "position": [
                850,
                400
            ]
        }
    ],
    "connections": {
        "Watch Drive Inbox": {
            "main": [
                [
                    {
                        "node": "Gemini Brain",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Brain": {
            "main": [
                [
                    {
                        "node": "Task Detected?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Task Detected?": {
            "main": [
                [
                    {
                        "node": "Create Linear Issue",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Move to Vault",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Linear Issue": {
            "main": [
                [
                    {
                        "node": "Move to Vault",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}